ul {
    list-style-type: none;
}

header > ul > li {
    display: inline important;
}

ul > li {
    display: block;
}

img#first-image {
    height: auto;
    width: 100%;
}

a {
    color: black;
}

a:visited {
    color: black
}

a:hover {
    color: brown;
}

.list-text {
    color: blue !important;
}

#list-text {
    color: green;
}

